html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  background-color: hsla(61, 65%, 45%, 0.226);
  height: 100vh;
  overflow-y: auto;
}  
body::-webkit-scrollbar{
  display: none;
}
.layout{
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.3s ease;

}

.sidebar {
  width: 220px;
  height: 100vh;
  background: #d3d1d1c5;
  border-right: 1px solid #e0e0e0;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
  flex-shrink: 0;
  
    
}


.sidebar ul li {
  margin: 20px 0; 
  padding-bottom: 3px ;

}


.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #3b2f2f;
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid #000000f3;
  padding: 0 15px;
   
}

#menu-btn {
  background-color: transparent;
  border: none;
  padding: 6px 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
#menu-btn:hover {
  background: #f5b8b8e0;
}

.logo i {
  align-self: center,right;
  
  margin-right: 20px;
  
}
.nav {
  list-style: none;  
  padding: 4px 0px;  
 
}

.nav a {
  display: flex;
  text-decoration: none;
  color: #222;   
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 10px;
  transition: background 0.2s, color 0.2s;
  
}

.nav a:hover {
  background: #f5b8b8e0 ;  
  color: #000;
}

.nav a.active {
  background: #f5b8b8e0;
  color: #000;
  font-size: \\;
}



.nav a i {
  margin-right: 10px;
  font-size: 18px;
  
}
.admin{
 text-align: left;

  margin-top: 100px;
  padding: 20px;
  border-top: 1px solid #000000f3;
  translate: margin-left 0.3s ease; 
 
  max-height: 200px; 
 
}
.admin .user-pic {
  border-radius: 50%;
  margin-right: 2px;
  vertical-align: -15px;
}
#pr{
  font-size: 12px;
  color: #555;
text-align: top;
  margin-top: -10px;
  margin-left: 34px;
}

.sidebar.collapsed ~ .main {
  margin-left: 70px; 
}

.main {
  flex: 1;
  margin-left:220px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
  height: 100vh;  
   overflow: auto;
}
.main::-webkit-scrollbar {
  display: none;
}

header{
display: flex;
flex-direction: column;
align-items: flex-start;
flex-wrap: wrap;
margin-bottom: 1rem;
}

header h1{
  margin: 0;
  font-size: 1.75rem;
  font-weight: 600;
  margin-top: -30px;
  color: #333;
}
header p{
  margin: 0;
  font-size: 0.9rem;
  color: #666;
  
}
.cards {
  display: flex;
  justify-content: center;   
  gap: 138px;
  margin-top: 20px;
 
}
.card{
  background: #dfded6b2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1;
  width: 250px;
}
.card h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #555;
}
.card p {
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.analytics {
  margin-top: 30px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  min-height: 400px;
  width: 1000px;
}
.analytics-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  border-bottom: #858282e1 1px solid;
  
  
}
.analytics-header button {
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: #000000;
  font-weight: bold;
} 

.analytics-header button:hover {
  background: #f5b8b8e0;
}
.analytics-header button:focus{
  background: #F5B8B8 100%;
}

.sidebar.collapsed {
  width: 70px;
  transition: width 0.3s ease;
}
.analystics .chart-palceholder {
  height: 300px;
  background: repeating-linear-gradient( to right, #d8d8d8, #d8d8d8 10px, transparent 10px, transparent 20px);
}

.recent{
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin-top: 30px;
}
.recent ul {
  list-style: none;
}
.recent ul li {
  margin: 8px,0;
  font-size: 14px;  
}
.recent ul li span {
  color: gray;
  font-size: 12px;
  margin-left: 5px;
  text-align: bottom,;
}
.sellers {
  display: flex;
  gap: 200px;
  margin-top: 20px;
}
.seller-card {
  width: 300px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  text-align: left;
}

.seller-card h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #555;
}
.seller-card p {
  font-size: 18px;
  font-weight: bold;
  color: #999;
  text-align: center;
}

  

.sidebar.collapsed .logo p,
.sidebar.collapsed .user-pic,
.sidebar.collapsed .admin-name,
.sidebar.collapsed #pr,
.sidebar.collapsed .nav a span {
  display: none;
}
.sidebar.collapsed .main{
  margin-left: 70px;
  margin-top: -510px;
  transition: margin-left 0.3s ease;
  width: 1300px;
}
.sidebar.collapsed .nav a {
  justify-content: center;
}

.sidebar.collapsed .nav a i {
  margin: 0;
}

.sidebar.collapsed .admin {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  
}
