html, body {
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.section {
  height: 100vh; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  font-family: Arial, sans-serif;
  background-color:hsl(40 30% 97%);
  height: 100vh;
  overflow-y: auto;
}  
body::-webkit-scrollbar{
  display: none;
}
.layout{
  display: grid;
  grid-template-columns: 1fr;
  min-height: 100vh;
  transition: grid-template-columns 0.3s ease;

}

.sidebar {
  width: 220px;
  height: 100vh;
  background: hsl(30 15% 88%);
  border-right: 1px solid #e0e0e0;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease;
  flex-shrink: 0;
      
}

.sidebar ul li {
  margin: 20px 0; 
  padding-bottom: 3px ;

}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;  
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  color:hsl(25 35% 20%);
  font-family: 'Pacifico', cursive;
  border-bottom: 1px solid #fffffff3;
  padding: 0 15px;
   
}

#menu-btn {
  background-color: transparent;
  border: none;
  padding: 6px 10px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}
#menu-btn:hover {
  background: #f5b8b8e0;
}

.logo i {
  align-self: center,right;
  
  margin-right: 20px;
  
}
.nav {
  list-style: none;  
  padding: 4px 0px;  
 
}

.nav a {
  display: flex;
  text-decoration: none;
  color:hsl(25 35% 20%);   
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 0 10px;
  transition: background 0.2s, color 0.2s;
  
}

.nav a.active {
background:hsl(350 65% 85%);
color: #000; 
}

.nav a:hover {
  background:hsl(350 65% 85%) ;  
  color: #000;
}

.nav a i {
  margin-right: 10px;
  font-size: 18px;
  
}
.admin{
 text-align: left;

  margin-top: 100px;
  padding: 20px;
  border-top: 1px solid #000000f3;
  translate: margin-left 0.3s ease; 
 
  max-height: 200px; 
 
}
.admin .user-pic {
  border-radius: 50%;
  margin-right: 2px;
  vertical-align: -15px;
}
#pr{
  font-size: 12px;
  color: #555;
text-align: top;
  margin-top: -10px;
  margin-left: 34px;
}

.sidebar.collapsed ~ .main {
  margin-left: 70px; 
}

.main {
  flex: 1;
  margin-left:220px;
  display: flex;
  flex-direction: column;
  padding: 50px;
  transition: margin-left 0.3s ease;
  overflow-x: hidden;
  height: 100vh;  
   overflow: auto;
}
.main::-webkit-scrollbar {
  display: none;
}
header{
  margin-top: -30px;
  margin-left: -30px;
}
header p{
  color: #555;  
}
header h1{
  font-size: 24px;
  margin-bottom: 5px;
  color: #333;
}
.title{
  margin-top: -10px;
  margin-bottom: 20px;
  color: #444;
  font-size: 20px;
}
.form-container {
  height:300px;
  width: 500px;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background: hsl(35 45% 88%);
  margin: 40px auto;        
  flex-direction: column;
  align-items: center;      
  box-shadow: 0 3px 8px rgb(0 0 0 / 0.45);
}

.form-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  color: hsl(25 35% 20%);
}

.form-container label {
  align-self: flex-start;  
  margin-bottom: 5px;

  color:hsl(25 35% 20%);
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 6px;
  border: 1px solid #aaa;
  font-size: 14px;
  gap: 10px;
}

#barcodeInput {
 
  margin-bottom: 30px;  
}


.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  transition: background 0.2s;
}
#sv{
  background: green
}
#pb{
  background: blue;
}
#cb{
  background: red;
}
.btn:hover {
 opacity: 0.5;
}

    .barcode-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 15px;
    }

    .barcode-box {
      border: 1px dashed #333;
      padding: 10px;
      text-align: center;
      background: #fff;
    }

    .barcode-box p {
      margin: 0;
      font-size: 14px;
    }

   @media print {

  .form-container,
  .btn,
  .sidebar,
  .logo,
  .nav,
  .admin,
  .cards,
  h2, p {
    display: none !important;
  }

  .barcode-grid {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px;
    margin: 0;
    padding: 0;
  }

  .barcode-box {
    border: none !important;
    padding: 5px;
    text-align: center;
    page-break-inside: avoid; 
  }

  .barcode-box svg {
    display: block !important;
    margin: auto;
    width: 100%;
    height: auto;
  }

  .barcode-box p {
    display: none !important;
  }
}



#toast {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background: #333;
  color: #fff;
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
  opacity: 0;
  transition: opacity 0.5s, bottom 0.5s;
}

#toast.show {
  visibility: visible;
  opacity: 1;
  bottom: 50px;
}
  
.sidebar.collapsed ~ .main {
  margin-left: 150px; 
  transition: margin-left 0.3s ease;
}
.sidebar.collapsed {
  width: 70px; 
transition: margin-left 0.3s ease;
}
.sidebar.collapsed .logo p,
.sidebar.collapsed .user-pic,
.sidebar.collapsed .admin-name,
.sidebar.collapsed #pr,
.sidebar.collapsed .nav a span {
  display: none;
}
.sidebar.collapsed .main{
  margin-left: 70px;
  margin-top: -510px;
  transition: margin-left 0.3s ease;
  width: 1300px;
}
.sidebar.collapsed .nav a {
  justify-content: center;
}

.sidebar.collapsed .nav a i {
  margin: 0;
}

.sidebar.collapsed .admin {
  opacity: 0;
  max-height: 0;
  padding: 0;
  margin: 0;
  
}
